.Button {
    /* color: #8C30F5; */
    text-decoration: none;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 16px;
    background: #aee0f7;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #090707;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }